# McKinney Chapter 3 - Practice (Section 4, Wednesday 11:45 AM)

## Practice

### Swap the values assigned to `a` and `b` using a third variable `c`.

In [1]:
a = 1

In [2]:
b = 2

In [3]:
print(f'a is {a} and b is {b}')

a is 1 and b is 2

In [4]:
c = a

In [5]:
c == a

True

In [6]:
c is a

True

In [7]:
a = b

In [8]:
b = c

In [9]:
print(f'a is {a} and b is {b}')

a is 2 and b is 1

In [10]:
%who

a	 b	 c

In [11]:
del c

In [12]:
%who

a	 b

### Swap the values assigned to `a` and `b` ***without*** using a third variable `c`.

In [13]:
a = 1

In [14]:
b = 2

In [15]:
print(f'a is {a} and b is {b}')

a is 1 and b is 2

In [16]:
type((a, b))

tuple

In [17]:
b, a = a, b

In [18]:
print(f'a is {a} and b is {b}')

a is 2 and b is 1

### What is the output of the following code and why?

In [19]:
1 == (1, 1, 1)

False

In [20]:
1, 1, 1 == (1, 1, 1)

(1, 1, False)

In [21]:
1, 1 == (1, 1, 1)

(1, False)

In [22]:
(1, 1, 1) == (1, 1, 1)

True

In [23]:
(1, 1, 1) == 1, 1, 1

(False, 1, 1)

In [24]:
1, 1, 1 == 1, 1, 1

(1, 1, True, 1, 1)

### Create a list `l1` of integers from 1 to 100.

In [25]:
l1 = list(range(1, 101))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [26]:
l1[:5]

[1, 2, 3, 4, 5]

In [27]:
l1[5:10]

[6, 7, 8, 9, 10]

### Slice `l1` to create a list of integers from 60 to 50 (inclusive).

Name this list `l2`.

In [28]:
l2 = l1[49:60]
l2.sort(reverse=True)
print(l2)

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50]

In [29]:
l1[59:48:-1]

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50]

In [30]:
l1[49:60][::-1]

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50]

In [31]:
l2 = l1[49:60]
l2.reverse()
l2

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50]

### Create a list `l3` of odd integers from 1 to 21.

In [32]:
list(range(1, 22, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [33]:
l1[0:21:2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

### Create a list `l4` of the squares of integers from 1 to 100.

In [34]:
l4 = [x**2 for x in range(1, 101)]

In [35]:
l4_quiz1 = []
for x in range(1, 101):
    l4_quiz1.append(x**2)

In [36]:
l4 == l4_quiz1

True

---
New question: Can we use ternary expressions (i.e., inline `if else`) with a list comprehension?

I suggest writing a function to make this more obvious, but here is an example.
We can try squaring `x` if `x` is even, but cubing `x` if `x` is odd.
This case is an excellent application of "ternary" statements, which have the form "TrueValue if True else FalseValue".

In [37]:
l4_new_question = [x**2 if (x%2 == 0) else x**3 for x in range(1, 101)]

In [38]:
print(l4_new_question)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400, 9261, 484, 12167, 576, 15625, 676, 19683, 784, 24389, 900, 29791, 1024, 35937, 1156, 42875, 1296, 50653, 1444, 59319, 1600, 68921, 1764, 79507, 1936, 91125, 2116, 103823, 2304, 117649, 2500, 132651, 2704, 148877, 2916, 166375, 3136, 185193, 3364, 205379, 3600, 226981, 3844, 250047, 4096, 274625, 4356, 300763, 4624, 328509, 4900, 357911, 5184, 389017, 5476, 421875, 5776, 456533, 6084, 493039, 6400, 531441, 6724, 571787, 7056, 614125, 7396, 658503, 7744, 704969, 8100, 753571, 8464, 804357, 8836, 857375, 9216, 912673, 9604, 970299, 10000]

---

### Create a list `l5` that contains the squares of ***odd*** integers from 1 to 100.

In [39]:
l5 = [x**2 for x in range(1, 101, 2)]

In [40]:
print(l5)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [41]:
l5_alt = [x**2 for x in range(1, 101) if x%2 != 0]

In [42]:
l5 == l5_alt[-41]

False

### Use a lambda function to sort `strings` by the last letter.

In [43]:
strings = ['card', 'aaaa', 'foo', 'bar', 'abab']

In [44]:
strings.sort(key=lambda x: x[-1])
strings

['aaaa', 'abab', 'card', 'foo', 'bar']

### Given an integer array `nums` and an integer `k`, return the $k^{th}$ largest element in the array.

Note that it is the $k^{th}$ largest element in the sorted order, not the $k^{th}$ distinct element.

Example 1:

Input: `nums = [3,2,1,5,6,4]`, `k = 2` \
Output: `5`

Example 2:

Input: `nums = [3,2,3,1,2,4,5,5,6]`, `k = 4` \
Output: `4`

I saw this question on [LeetCode](https://leetcode.com/problems/kth-largest-element-in-an-array/).

In [45]:
def nums(x, k):
    x_copy = x.copy()
    x_copy.sort()
    return x_copy[-k]

In [46]:
nums(x=[3,2,1,5,6,4], k=2)

5

### Given an integer array `nums` and an integer `k`, return the `k` most frequent elements.

You may return the answer in any order.

Example 1:

Input: `nums = [1,1,1,2,2,3]`, `k = 2` \
Output: `[1,2]`

Example 2:

Input: `nums = [1]`, `k = 1` \
Output: `[1]`

I saw this question on [LeetCode](https://leetcode.com/problems/top-k-frequent-elements/).

In [47]:
def nums(nums, k):
    counts = {}
    for n in nums:
        if n in counts:
            counts[n] += 1
        else:
            counts[n] = 1
    return [x[0] for x in sorted(counts.items(), key=lambda x: x[1], reverse=True)[:k]]

In [48]:
nums(nums=[1,1,1,2,2,3], k=2)

[1, 2]

### Test whether the given strings are palindromes.

Input: `["aba", "no"]` \
Output: `[True, False]`

In [49]:
def is_palindrome(x):
    return [list(y) == list(y)[::-1] for y in x]

In [50]:
is_palindrome(["aba", "no"])

[True, False]

### Write a function `returns()` that accepts lists of prices and dividends and returns a list of returns.

In [51]:
prices = [100, 150, 100, 50, 100, 150, 100, 150]
dividends = [1, 1, 1, 1, 2, 2, 2, 2]

In [52]:
def returns(p, d):
    rts = [None]
    for t in range(1, len(p)): # start at t=1 b/c need 2 prices to calculate a return
        pt = p[t]
        ptm1 = p[t-1]
        dt = d[t]
        rt = (pt - ptm1 + dt) / ptm1
        rts.append(rt)

    return rts

In [53]:
returns(p=prices, d=dividends)

[None, 0.51, -0.32666666666666666, -0.49, 1.04, 0.52, -0.32, 0.52]

### Rewrite the function `returns()` so it returns lists of returns, capital gains yields, and dividend yields.

In [54]:
def returns(p, d):
    rts, cgs, dys = [None], [None], [None]
    for t in range(1, len(p)): # start at t=1 b/c need 2 prices to calculate a return
        pt = p[t]
        ptm1 = p[t-1]
        dt = d[t]
        dy = dt / ptm1
        cg = (pt - ptm1) / ptm1
        rt = dy + cg
        rts.append(rt)
        dys.append(dy)
        cgs.append(cg)

    return {'rt':rts, 'dy':dys, 'cg':cgs}

In [55]:
returns(p=prices, d=dividends)

{'rt': [None, 0.51, -0.32666666666666666, -0.49, 1.04, 0.52, -0.32, 0.52],
 'dy': [None,
  0.01,
  0.006666666666666667,
  0.01,
  0.04,
  0.02,
  0.013333333333333334,
  0.02],
 'cg': [None,
  0.5,
  -0.3333333333333333,
  -0.5,
  1.0,
  0.5,
  -0.3333333333333333,
  0.5]}

### Rescale and shift numbers so that they cover the range `[0, 1]`.

Input: `[18.5, 17.0, 18.0, 19.0, 18.0]` \
Output: `[0.75, 0.0, 0.5, 1.0, 0.5]`

In [56]:
numbers = [18.5, 17.0, 18.0, 19.0, 18.0]

In [57]:
def rescale(x):
    x_min = min(x)
    x_max = max(x)
    return [(x - x_min) / (x_max - x_min) for x in x]

In [58]:
rescale(numbers)

[0.75, 0.0, 0.5, 1.0, 0.5]